ERP_API_KEY= api_key_here
ERP_BASE_URL=https://hngstage8da-55c7f5f769c8.herokuapp.com

LAKE_DB_HOST=lake_db
LAKE_DB_PORT=5432
LAKE_DB_NAME=lake_db
LAKE_DB_USER=postgres
LAKE_DB_PASSWORD=your_password_here

 WAREHOUSE_DB_HOST=warehouse_db
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_NAME=warehouse_db
WAREHOUSE_DB_USER=postgres
WAREHOUSE_DB_PASSWORD=your_password_here
